In [1]:
#print statement
print("HOPE AI")

HOPE AI

In [2]:
#Buy Input
name=input("enter your Institue name?:")
print(name)

enter your Institue name?: HOPE AI

HOPE AI

In [3]:
#Buy Inputs
name=input("Enter your name:")
age=int(input("Enter your age:"))
school=input("Enter your school name:")
degree=input("Enter your degree:")
print(name)
print(age)
print(school)
print(degree)

Enter your name: MANICKARAJAN

Enter your age: 29

Enter your school name: GHSS

Enter your degree: BE-MECH

MANICKARAJAN
29
GHSS
BE-MECH

In [4]:
#Addition,Subtraction
a=43
b=34
add=a+b
sub=a-b
print(add)
print(sub)

77
9

In [5]:
#mulitiplication
a=63
b=97
mul=a*b
print(mul)

6111

In [6]:
#divition
a=76
b=31
div=a/b
print(div)

2.4516129032258065

In [3]:
#Floor Divition
a=76
b=31
div=a//b
print(div)

2

In [4]:
#Modulo
a=76
b=31
modulo=a%b
print(modulo)

14

In [5]:
#power
a=4
b=4
power=pow(a,b)
print(power)

256

In [6]:
# print 0 to 20 by using range
for i in range(0,20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [7]:
# print range 10 to 20
for i in range (10,20):
    print(i,end=" ")

10 11 12 13 14 15 16 17 18 19

In [8]:
# Print number of items in the list by using 'len'
lists=[10, 20, 14, 55, 43, 87, 76]
print("Number of item in the list:",len(lists))

Number of item in the list: 7

In [3]:
#Artificial Intelligence
name='Artificial Intelligence'
for i in(name):
    print(i)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [4]:
#-Your Name-/-Your Age-/-Your Profession-
name=input("Enter your name:")
age=int(input("Enter your age:"))
profession=input("Enter your profession:")
print(name)
print(age)
print(profession)

Enter your name: MANICKARAJAN G

Enter your age: 29

Enter your profession: AI learner

MANICKARAJAN G
29
AI learner

In [6]:
# Print yhis mixered datatype using Tuples
Tuple=(1,"Welcome",2,"Hope")
print(Tuple)

(1, 'Welcome', 2, 'Hope')

In [7]:
#((0, 1, 2, 3), ('python', 'HOPE'))
Tuple1=(0,1,2,3)
Tuple2=("Python","HOPE")
print((Tuple1,Tuple2))

((0, 1, 2, 3), ('Python', 'HOPE'))

In [1]:
## print Odd Numbers in the list
Tuple=(20,10,16,19,25,1,276,188)
for i in range(len(Tuple)):
    if(Tuple[i]%2!=0):
        print(Tuple[i],"odd")

19 odd
25 odd
1 odd

In [2]:
## print Odd Numbers in the list
Tuple=(20,10,16,19,25,1,276,188)
for i in range(len(Tuple)):
    if(Tuple[i]%2!=1):
        print(Tuple[i],"Even")

20 Even
10 Even
16 Even
276 Even
188 Even